/* * {
    border: solid red 1px;
} */

.zines {
    width: 170px;
    height: auto;
    border-radius: 10px;
    border: dashed 1px rgb(97, 84, 84);
}

.comic {
    align-items: center;
    background-image: url('/assets/comic-splash.jpg');
    width: 100%;
    height: 250px;
    background-size: 100%;
    background-position-y: -140px;
    background-position-x: -10px;
    border-radius: 10px;
}

